// Specific CSS for your home-page
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.banner h2 h1 {
  animation: Color 4s linear infinite;
 -webkit-animation: Color 4s ease-in-out infinite;
 text-shadow: 10px 10px #F0F0F0;
}

@keyframes Color{
 0%{
   color:#A0D468;
 }

 20%{
   color:#4FC1E9;
 }

 40%{
   color:#FFCE54;
 }

 60%{
   color:#FC6E51;
 }

 80%{
   color:#ED5565;
 }

 100%{
   color:#AC92EC;
 }
}

@-moz-keyframes Color{
 0%{
   color:#A0D468;
 }

 20%{
   color:#4FC1E9;
 }

 40%{
   color:#FFCE54;
 }

 60%{
   color:#FC6E51;
 }

 80%{
   color:#ED5565;
 }

 100%{
   color:#AC92EC;
 }
}

@-webkit-keyframes Color{
 0%{
   color:#A0D468;
 }

 20%{
   color:#4FC1E9;
 }

 40%{
   color:#FFCE54;
 }

 60%{
   color:#FC6E51;
 }

 80%{
   color:#ED5565;
 }

 100%{
   color:#AC92EC;
 }
}
