.entry-ban {
  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  color: white;
  padding: 95px;
  background-size: cover;
  opacity: 2;
  margin-bottom: 20px;
}

.details-sejour {
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(35, 35, 104, 0.301);
  border-radius: 6px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
