.planet_description {
  list-style-type: none;
  color:  #eacef9;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title_show {
  margin-top: 20px;
}

.button_back_planets{
  margin-top: 80px;
}

.detail_rent{
  color: white;
  margin-right: 40px;
}
.button_rent{
  margin-right: 40px;
}
.black_container{
  background-color: black;
}

.button_edit_planet{
  margin-bottom: 10px;
}
.owner_buttons{
  text-align: center;
  padding-bottom: 60px;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.price{
  text-align: right;
}
