

.planet_description {
  list-style-type: none;
  color:  #eacef9;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;

}

.title_show {
  margin-top: 20px;
}

.button_back_planets{
  text-align: left;
  margin-top: 80px;

}

.detail_rent{
  text-align: right;
  margin-right: 40px;
}

.show_container{
  width: 60%;
}

.button_back_planets{
  background-color: #eacef9;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
}
