
.black_container{
  display: flex;
  background-color: black;
}
.planet_description {
  justify-content: flex-end;
  list-style-type: none;
  color:  rgb(208, 205, 255);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 30px;
}

.title_show {
  margin-top: 30px;
}

.button_rent_planet{
  margin-top: 50px;
  margin-left: 40px;
}

.detail_rent{
  color: white;
  margin-right: 40px;
}
.button_rent_planet{
  margin-left: 100px;
}

.button_edit_planet{
  margin-bottom: 10px;
}

.buttons{
  padding-bottom: 20px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}


.carousel-item {
  transition-duration: 2s;
}
#carouselExampleSlidesOnly{
  width: 50%;
}
#price{
  word-spacing: 6px;
}
