<%= render "shared/navbar" %>

<div class="container_new">
<h2 class="title-new-edit"> <br/>  <iframe src="https://giphy.com/embed/26xBDqFwweEEQr36o" width="240" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
 <br/> create your new planet here</h2>

<%= render "form", planet: @planet %>
<div>
