<%= render "shared/navbar" %>

<div class="entry-ban" style="text-align: center">
  <h1 style="margin-top: 30px">Thank you for choosing us !</h1>
  <h2>We salute your courage</h2>
</div>

<div class="details-sejour" style="display: flex; justify-content: space-between">
  <div>
    <h3 style="margin-bottom: 20px">Recap of your journey :</h5>
    <h6>Planet name : Klingon</h6>
    <p>Mass : 6,4185 * 1000000000kg</p>
    <p>Area : 144 798 500 km2</p>
    <p>Solar system : Andromède</p>
  </div>
  <div style="margin-top: 50px">
    <p>Date of travel : 20 octobre 2039 - 27 octobre 2039</p>
    <p>Price : 200 000$</p>
  </div>
</div>

<div style="text-align: center; margin-top: 40px">
  <h4>Past reviews :</h4>
</div>

<div class="container">
  <div class="row">
    <div class="cards-list">
      <div class="col-12 col-lg-4">
        <div class="card" style="width: 23rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/13074506/pexels-photo-13074506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap" style="height: 255px">
          <div class="card-body" style="display: flex">
            <p class="card-text">"Quel séjour extraordinaire ! Je m'en souviendrai toute ma vie."</p>
            <%= image_tag "https://images.pexels.com/photos/698532/pexels-photo-698532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class: "avatar", alt: "avatar" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card" style="width: 23rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/12498805/pexels-photo-12498805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap" style="height: 255px">
          <div class="card-body" style="display: flex">
            <p class="card-text">"Quelle technologie formiadable, les gens qui ont crée cela sont des génies !"</p>
            <%= image_tag "https://images.pexels.com/photos/13083161/pexels-photo-13083161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class: "avatar", alt: "avatar" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="card" style="width: 23rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/673902/pexels-photo-673902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap" style="height: 255px">
          <div class="card-body" style="display: flex">
            <p class="card-text">"Les mots ne peuvent pas décrire ce qu'on a vécu sur Uranus avec ma famille, je recommande ! Merci !."</p>
            <%= image_tag "https://images.pexels.com/photos/3936894/pexels-photo-3936894.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", class: "avatar", alt: "avatar" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
