<video id="background-video" autoplay loop muted>
  <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1669333058/production_ID_4702442_uebfuk.mp4" type="video/mp4">
</video>

<div class="banner">
  <h1 style="color: black">Merci pour votre attention</h1>
  <h1 style="color: black">bon week-end à tous</h1>
  <h1 style="color: black; margin-top: 20px">love 1068</h1>
  <%= link_to "dispo pour commandes ici !", planets_path, type: "button", class: "btn btn-dark", style: "border-radius: 70px; margin-top: 20px" %>
</div>

<div class="footer">
  <p>Contactez nous</p>
		<a href="#"><i class="fab fa-youtube"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-github"></i></a>
		</ul>
</div>
