<video id="background-video" autoplay loop muted>
  <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1669333058/production_ID_4702442_uebfuk.mp4" type="video/mp4">
</video>

<div class="banner">
  <h1 style="color: white">Merci pour votre attention</h1>
  <h1 style="color: white">bon week-end à tous</h1>
  <h1 style="color: white; margin-top: 20px">love 1068</h1>
  <%= link_to "dispo pour commandes ici !", planets_path, type: "button", class: "btn btn-dark", style: "border-radius: 70px; margin-top: 20px" %>
</div>
