<video id="background-video" autoplay loop muted>
  <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1669198222/video_zzk78s.mp4" type="video/mp4">
</video>

<div class="banner">
  <h1 style="-webkit-text-stroke: 1px black; color: white">Experience the next level of travelling</h1>
  <h2 style="-webkit-text-stroke: 1px black; color: white">rent a planet for your next holidays</h2>
  <h2 style="-webkit-text-stroke: 1px black; color: white; margin-top: 20px">the adventure of a life-time</h2>
  <%= link_to "Dare !", planets_path, type: "button", class: "btn btn-dark", style: "border-radius: 70px; margin-top: 20px" %>
</div>

<div class="footer">
  <p><span data-controller="typed-js"></span></p>
		<a href="#"><i class="fab fa-youtube"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-github"></i></a>
		</ul>
</div>
