<video id="background-video" autoplay loop muted>
  <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1669198222/video_zzk78s.mp4" type="video/mp4">
</video>

<div class="banner">
  <h1>Welcome to the next level of travelling</h1>
  <h3>A revolutionnary technology</h3>
  <h3>Rent planet for vacation or long-term</h3>
  <%= link_to "Go", planets_path, class: "btn btn-blue" %>
</div>

<div class="footer">
  <p>A site made with love</p>
		<a href="#"><i class="fab fa-youtube"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<a href="#"><i class="fab fa-github"></i></a>
		</ul>
</div>
