.footer {
	padding: 30px;
	color: white;
	background-image: url("https://images.pexels.com/photos/1142950/pexels-photo-1142950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
	text-align: center;
  background-size: cover;
  opacity: 2;
}
.footer a:hover {
	color: black;
	font-size: 40px;
  text-decoration: none;
}

.footer p {
  font-size: 25px;
}
